# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lildk\Desktop\PRO\Labs\Java\DeanerySimpleSpringBootApp\DeanerySimpleSpringBootApp\DeanerySimpleSpringBootApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
